/* Aula 12 - 17/05/2022*/
@import url(https://fonts.google.com/specimen/Poppins?query=poppins);

body, ul
{
    margin: 0px;
    padding: 0px;
}

a
{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

ul
{
    list-style: none;
}

li
{
    color: white;
    display: inline;
    margin: 0 10px;
}

#logo
{
    font-size: 1.5rem;
}

#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

#menu
{
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#btn-mobile
{
    display: none;
}

#carouselExampleInterval
{
    position: relative;
    z-index: 10;
    padding-top: 80px;
    
}